/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* h1見出し */
h1 {
  color: #ffffee;/* フォントの色 */
  font-size: 90px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  text-align: center;/* 文字・画像を中央にそろえる */
  height: 320px;/* 高さ */
  padding-top: 40px;/* 上がわの余白 */
  background-repeat: no-repeat;/* 背景のくり返しをやめる */
  background-position: top center;/* 背景の位置 */
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  background-image: url(img/bg_header.jpg);/* 背景画像 */
  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
}


/* ナビゲーションの箱 */
nav {
  background-color: #566270;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* リスト全体 */
nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* １つ１つのリスト */
nav li {
  display: inline-block;
  margin-right: 40px;
}

/* リンク */
nav a {
  color: #ffffff;
  text-decoration: none;
}

/* リンクにふれた時 */
nav a:hover {
  color: #E0E3DA;
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #FFFFF3;/* 背景の色 */
  color: #566270;
  padding: 30px;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
}

/* 画像 */
.shop img {
  padding-top: 200px;
  float: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 30px;
  background-color: #A593E0;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

/* h2見出し */
.photo h2 {
  color: #ffffff;
  border-color: #E0E3DA;
}

/* h3見出し */
.photo h3 {
  color: #566270;
}

/* 段落 */
.photo p {
  color: #ffffff;
  clear: left;/* 画像や箱の回り込みをやめる */
}

/* 大きな箱 */
.big {
  background-color: #ffffff;
  width: 500px;/* 横幅 */
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;/* 影 */
  float: left;
  transform: rotate(-5deg);/* 回転させる */
}

/* 小さな箱 */
.small {
  background-color: #ffffff;
  width: 240px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
}

/* 箱 */
.box {
  float: left;
}


/* ===== 値段表のスタイル ===== */
/* セクション */
.price {
  padding: 30px;
  background-color: #A593E0;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

/* h2見出し */
.price h2 {
  color: #ffffff;
  border-color: #E0E3DA;
}

/* 表 */
.price table {
  background-color: #FFFFF3;
  border-collapse: collapse;/* 表の隙間（すきま） */
  width: 100%;
}

/* 表のセル */
.price td {
  border: 1px solid #000000;
  padding: 10px;
}

/* 表の見出しセル */
.price th {
  border: 1px solid #000000;
  padding: 10px;
  background-color: #E0E3DA;
  text-align: left;
}

/* 表の見出しセル（季節） */
.season th {
  background-color: #33ddcc;
}


/* ===== アクセス情報のスタイル ===== */
/* セクション */
.access {
  padding: 30px;
  background-color: #FFFFF3;
  height: 400px;
  color: #566270;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

/* h3見出し */
.access h3 {
  font-size: 50px;
  font-family: lobster;
  margin-top: 0px;
}

/* リスト */
.access ul {
  list-style-type: none;/* リストのマーカー */
  padding-left: 0px;
}

/* 箱 */
.access div {
  float: left;
  width: 50%;
}

/* フッター */
footer {
  text-align: center;
  background-color: #566270;
  color: #ffffff;
}

.fade_on {
  opacity: 1;
}